{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-12 text-right">
            {% if app.user %}
                <a href="{{ path('task_create') }}" class="btn btn-info my-1"><i class="fas fa-pen"></i> Créer une nouvelle tâche</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="card-deck mb-12 text-center">
                <div class="col-md-12">
                    <div class="card mb-12 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-left">
                                <span>{% if task.isDone %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</span>
                                <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <p>{{ task.content|raw }}</p>
                            </div>
                            <div class="container-fluid">
                                <i>{{ task.user.username }}</i>
                                <i class="pull-right">{{ task.createdAt|date ('d/m/Y') }}</i>
                            </div>
                        </div>
                        <div>
                            <form action="{{ path('task_toggle', {'id' : task.id }) }}" style="display: inline-block">
                                <button class="btn btn-success btn-sm text-left">
                                    {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                </button>
                            </form>
                            <form action="{{ path('task_delete', {'id' : task.id }) }} " style="display: inline-block">
                                <button class="btn btn-danger btn-sm text-right">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
